# Brief
In this section I check and fix the format of the data

# Project settings

In [1]:
import os
import sys
# sys.pwd()
os.chdir('../')
os.getcwd()

'/mnt/d/Assignment/Skillvull'

In [2]:
project_path= os.getcwd()
data_path= os.path.join(project_path,'data')
src_folder= os.path.join(project_path,'src','data')

# Read Data

In [3]:
import pandas as pd

customer_interactions = pd.read_csv(os.path.join(data_path,
                                                 'raw',
                                                 'customer_interactions.csv'
                                                 ),
                                    sep=';'
                                    )

product_details = pd.read_csv(os.path.join(data_path,
                                           'raw',
                                           'product_details.csv'
                                           ),
                              sep=';'
                              )

purchase_history = pd.read_csv(os.path.join(data_path,
                                            'raw',
                                            'purchase_history.csv',
                                            ),
                               sep=';'
                               )

# EDA

## Customer interactions

In [4]:
customer_interactions

  customer_id,page_views,time_spent
0                          1,25,120
1                           2,20,90
2                          3,30,150
3                           4,15,80
4                          5,22,110

Data wasn't parsed properly due to usage of ';' as separator

## Product details

In [5]:
product_details

,product_id,category,price,ratings,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,101,Electronics,500,4.5,NaN,NaN,NaN
1,102,Clothing,50,3.8,NaN,NaN,NaN
2,103,Home & Kitchen,200,4.2,NaN,NaN,NaN
3,104,Beauty,30,4.0,NaN,NaN,NaN
4,105,Electronics,800,4.8,NaN,NaN,NaN

In [6]:
product_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   product_id  5 non-null      int64
 1   category    5 non-null      object
 2   price       5 non-null      int64
 3   ratings     5 non-null      float64
 4   Unnamed: 4  0 non-null      float64
 5   Unnamed: 5  0 non-null      float64
 6   Unnamed: 6  0 non-null      float64
dtypes: float64(4), int64(2), object(1)
memory usage: 408.0+ bytes

There are empty columns with name pattern of 'Unnamed: .*'

## Purchase history

In [7]:
purchase_history

,customer_id,product_id,purchase_date,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,1,101,2023-01-01,NaN,NaN,NaN,NaN
1,1,105,2023-01-05,NaN,NaN,NaN,NaN
2,2,102,2023-01-02,NaN,NaN,NaN,NaN
3,3,103,2023-01-03,NaN,NaN,NaN,NaN
4,4,104,2023-01-04,NaN,NaN,NaN,NaN
5,5,101,2023-01-05,NaN,NaN,NaN,NaN

There are empty columns with name pattern of 'Unnamed: .*'

## Preprocess data

Preprocess is done by script written in src/data/preprocess_data.py
The script do the following:
   - Parse customer interactions using ';' as separator
   - Delete columns with name pattern 'Unnamed: .*'

In [8]:
os.path.join(src_folder,
             'preprocess_data.py'
             )

'/mnt/d/Assignment/Skillvull/src/data/preprocess_data.py'

In [8]:
! python {src_folder+'/preprocess_data.py'}

/bin/bash: warning: setlocale: LC_ALL: cannot change locale (en_US.UTF-8)
Load Dataset
Remove Unnmaed cols
Save results

# Load results

Read the preprocessing results

In [11]:
customer_interactions = pd.read_csv(os.path.join(data_path,
                                                 'interim',
                                                 'original',
                                                 'customer_interactions.csv'
                                                 ),
                                    # sep=','
                                    )

product_details = pd.read_csv(os.path.join(data_path,
                                           'interim',
                                           'original',
                                           'product_details.csv'
                                           ),
                              )

purchase_history = pd.read_csv(os.path.join(data_path,
                                            'interim',
                                            'original',
                                            'purchase_history.csv',
                                            ),
                               )

All of columns in customer interactions parsed properly

In [12]:
customer_interactions

   customer_id  page_views  time_spent
0            1          25         120
1            2          20          90
2            3          30         150
3            4          15          80
4            5          22         110

No column with name pattern 'Unnamed: .*'

In [13]:
purchase_history

   customer_id  product_id purchase_date
0            1         101    2023-01-01
1            1         105    2023-01-05
2            2         102    2023-01-02
3            3         103    2023-01-03
4            4         104    2023-01-04
5            5         101    2023-01-05

No column with name pattern 'Unnamed: .*'

In [14]:
product_details

   product_id        category  price  ratings
0         101     Electronics    500      4.5
1         102        Clothing     50      3.8
2         103  Home & Kitchen    200      4.2
3         104          Beauty     30      4.0
4         105     Electronics    800      4.8