# Project settings

In [1]:
import os
import sys

import pandas as pd

# sys.pwd()
os.chdir('../')
os.getcwd()

'/mnt/d/Assignment/Skillvull'

In [2]:
project_path= os.getcwd()
data_path= os.path.join(project_path,'data')
src_folder= os.path.join(project_path,'src','features')

# Execute Pipeline

In [49]:
! python {src_folder+'/generate_features.py'}

/bin/bash: warning: setlocale: LC_ALL: cannot change locale (en_US.UTF-8)
Load Dataset
Data loaded
TRAIN Size: 313
TEST Size: 150
Completed

In [43]:
train_data= pd.read_pickle(os.path.join(data_path,'processed','train.pickle'),
                           )

In [45]:
train_data

,Beauty,Clothing,Electronics,Home & Kitchen,price,ratings,page_views,time_spent,time_per_view,target_array
0,0,1,1,0,662,4.8,27,149,5.518519,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
1,0,0,1,0,744,4.8,21,100,4.761905,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
2,0,0,0,1,33,4.1,25,135,5.400000,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
3,0,0,1,0,602,4.4,27,145,5.370370,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
4,0,1,0,0,51,4.8,29,150,5.172414,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
...,...,...,...,...,...,...,...,...,...,...
343,0,0,1,0,674,4.3,23,119,5.173913,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
344,0,0,1,1,220,4.0,22,115,5.227273,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
345,0,2,0,0,242,4.4,27,145,5.370370,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
346,0,1,0,0,51,4.8,20,97,4.850000,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."
347,0,0,1,0,54,4.6,28,150,5.357143,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,..."